.editPassword {
  width: 1280px;

  .titleText {
    border-bottom: 5px solid black;
  }

  .toggleButton {
    font-size: 1.5rem;
    line-height: 2rem;
    cursor: pointer;
  }

  .submitButton {
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: -1px;
    transition: all 0.3s ease-in-out;

    &:active {
      box-shadow: none;
    }
    &:hover {
      animation: floatAnimation 1s infinite ease-in-out;
    }

    &:disabled {
      background-color: #ebebeb;
    }

    @keyframes floatAnimation {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-2px);
      }
    }
  }
}
