.editProfile {
  width: 1280px;

  .title {
    border-bottom: 5px solid black;
  }

  .editButton {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: -1px;
    background-color: #ebebeb;
    transition: all 0.3s ease-in-out;

    &:active {
      box-shadow: none;
    }
    &:hover {
      animation: floatAnimation 1s infinite ease-in-out;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 1rem;
    z-index: 999;
    border-radius: 10px;
    width: 30rem;
    height: 20rem;

    .passwordInput {
      width: 20rem;
      height: 3rem;
      border: 1px solid black;
      border-radius: 10px;
      font-size: 2.5rem;
    }

    .closeButton {
      font-size: 2.5rem;
      margin-left: auto;
      cursor: pointer;
    }
  }

  @keyframes floatAnimation {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2px);
    }
  }
}
