.inputBox {
  box-sizing: border-box;
  position: relative;

  .title {
    letter-spacing: -1px;
  }

  input {
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
    outline: none;

    &:focus {
      border-bottom: 2px solid black;

      &::placeholder {
        color: transparent;
      }
    }
  }

  .message {
    position: absolute;
    bottom: -15px;
  }
}
